@import "tailwindcss";

@theme {
  --color-primary: #69075a;
  --color-primary-dark: #4c0541;

  --color-night-bg: #0f172a;
  --color-night-card: #1e293b;
  --color-night-border: #334155;
  --color-night-text: #b0bdd4;
  --color-night-text-h: #f1f5f9;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
}
